body {
    padding: 20px;
    background: #f7f7f7;
     }

:root{
    --burgundy:#800020;
    --text-dark: #333;
    --white: #fff;
     } 

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: var(--white);
    border-radius: 10px;
    border: 3px solid var(--burgundy);
    margin-bottom: 20px;
     }

.Logo img {
    width: 90px;
     }

 .nav a {
    margin-left: 25px;
    text-decoration: none;
    color: var(--burgundy);
    font-weight: 18px;
    transition: 0.3s;
     } 

 .nav a :hover {
    color: black;
     }

 .main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
     }

  .content, .asider {
    background: var(--burgundy);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--burgundy);
     }

   .content h2,p {
    text-decoration: none;
    color: var(--white);
   }
   .asider h3,p {
    text-decoration: none;
    color: var(--white);
   }

   .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: var(--white);
    border-radius: 10px;
    border: 3px solid var(--burgundy);
    color: var(--burgundy);
    font-weight: bold;
     }
    .footer-left p {
        text-decoration: none;
        color: var(--burgundy);
     }
    .footer-right p {
        text-decoration: none;
        color: var(--burgundy);
     }